
:root {
  --color-primary: #f44336; /* Rojo principal */
  --color-secondary: #dc004e; /* Otro tono de rojo */
  --color-background: #f4f6f8; /* Color de fondo */
  --color-text-primary: #333; /* Color de texto principal */
  --color-link: #f44336; /* Color de los enlaces */
  --color-link-hover: #d32f2f; /* Color de los enlaces al pasar el ratón */
}

body { 
  font-family: 'Roboto', sans-serif; 
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

body.login-bg {
  background-image: url('https://image.freepik.com/foto-gratis/mujer-negocios-morena-haciendo-negociacion_23-2148142802.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.register-bg {
  background-image: url('https://image.freepik.com/foto-gratis/mujer-negocios-morena-haciendo-negociacion_23-2148142802.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}