
:root {
  --color-primary: #f44336; /* Rojo principal */
  --color-secondary: #dc004e; /* Otro tono de rojo */
  --color-background: #f4f6f8; /* Color de fondo */
  --color-text-primary: #333; /* Color de texto principal */
  --color-link: #f44336; /* Color de los enlaces */
  --color-link-hover: #d32f2f; /* Color de los enlaces al pasar el ratón */
}

body { 
  font-family: 'Roboto', sans-serif; 
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

body.login-bg {
  background-image: url('https://image.freepik.com/foto-gratis/mujer-negocios-morena-haciendo-negociacion_23-2148142802.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.register-bg {
  background-image: url('https://image.freepik.com/foto-gratis/mujer-negocios-morena-haciendo-negociacion_23-2148142802.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.password-bg {
  background-image: url('https://image.freepik.com/foto-gratis/mujer-negocios-morena-haciendo-negociacion_23-2148142802.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estilos para navegadores webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Hace el fondo transparente */
}

::-webkit-scrollbar-thumb {
  background: red; /* Color del pulgar del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: darkred; /* Color al pasar el cursor sobre el pulgar */
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin; /* Define el grosor del scrollbar */
  scrollbar-color: red transparent; /* Define el color del pulgar y la pista del scrollbar */
}

/* Estilos universales para elementos con scrollbar */
body, html {
  scrollbar-width: thin; /* Define el grosor del scrollbar para Firefox */
  scrollbar-color: red transparent; /* Define el color del pulgar y la pista del scrollbar para Firefox */
}
